<div class="contenido-home contenido-medico">
 <div class="container">
     <div class="row">
         <div class="col-sm-12">
             <div class="titular">
                 <h1>Cardiología</h1>
                 <div class="cover-medico">
                    <img class="imagen-cover" src="assets/img/detalle/cover.png" alt="Cover">
                 </div>
                </div>
                <div class="about">
                    <h2>Acerca de mi</h2>
                    <p>Médico especialista en cardiologia (cmp 74915 RNE 46056). Termino sus estudios pregrado en la universidad Peruana Cayetano Heredia y la especialización en cardiología por la universidad nacional mayor de San Marcos. Cuenta con estudios y cursos actualizados en insuficiencia cardíaca e hipertensión arterial. Se desempeña como médico cardiólogo en el hospital nacional Sergio bernales y en centro médico Mapfre.</p>
                </div>
                <div class="about">
                    <h2>Experiencia en hospitales</h2>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
                </div>
         </div>
     </div>
 </div>

 </div>
 
 