.contenido-home{
    background-color: #F2F7FD;
    height: 100vh;
    padding-top: 60px;
}

.header-dummy{
    display: flex;
    justify-content: center;
}

.categoria-grupo{display: flex; justify-content: center; margin-top: 30px;}

.lista-medicos{display: flex; justify-content: center;}
.lista{width: 100%; height: auto; margin: 0 auto; padding: 0 30px;}