<div class="contenido-home">
   <div class="header-dummy">
    <img class="imagen-dummy" src="assets/img/common/dummy.png" alt="Dummy">
   </div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="titular">
                <h1>Categorias</h1>
               </div>
        </div>
    </div>
</div>
   <div class="categoria-grupo">
    <img class="imagen-cat" src="assets/img/categorias/cat_1.png" alt="Cat 1">
    <img class="imagen-cat" src="assets/img/categorias/cat_2.png" alt="Cat 1">
    <img class="imagen-cat" src="assets/img/categorias/cat_3.png" alt="Cat 1">
   </div>

   <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="titular">
                <h1>Top doctores</h1>
               </div>
        </div>
    </div>
</div>
   <div class="lista-medicos">
    <div class="lista">
        <a routerLink="../specialist-details"><img class="imagen-cat" src="assets/img/lista/fila_1.png" alt="Cat 1"></a>
        <a routerLink="../specialist-details"><img class="imagen-cat" src="assets/img/lista/fila_2.png" alt="Cat 1"></a>
        <a routerLink="../specialist-details"><img class="imagen-cat" src="assets/img/lista/fila_3.png" alt="Cat 1"></a>
    </div>
   </div>
</div>

